<div class="container">
    <div>
    <h2>Ajouter un Departement :</h2>
    </div>

    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
             <label >ID Departement</label>
             <input type="text" [(ngModel)]="newDepartement.idDepartement"
        name="idDepartement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Departement</label>
        <input type="text"[(ngModel)]= "newDepartement.nomDepartement"
        name="nomDepartement" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Nombre Etudiants</label>
        <input type="number" [(ngModel)]= "newDepartement.nombreEtudiants"
        name="nombreEtudiants" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [(ngModel)]= "newDepartement.dateCreation"
        name="dateCreation" class="form-control">
        </div>
        <div class="mt-2">
        
        <button type="submit" (click)="addDepartement()" class="btn btn-success">Ajouter</button>
        
        </div>
        </form>
        
        </div>

